.profile-card {
    /*background-image: linear-gradient(to bottom right, #f171ee,#b535b3);*/
    background: white;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 28vh;
    transition: all .2s cubic-bezier(0.1, 0.6, 0.0, 0.8);
}

.profile-card-left {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    grid-column: 1;
}
.profile-card-left h1 {
    height: 30%;
    margin: 10% 10% 5% 10%;
    color: #270c36;
    border-bottom: solid 2px #270c36;
    font-weight: bolder;
    font-size: 20px;
    padding-top: 10%;
}
.profile-card-left p {
    height: 50%;
    background: none;
    padding-left: 10%;
    padding-right: 5%;
    font-size: 14px;
    font-style: italic;
    color: #270c36;
    font-weight: bold;
    opacity: .6;
}

.profile-card-right {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    grid-column: 2;
    position: relative;
}

.profile-card-image {
    position: relative;
    width: 100%;
    height: 100%;
    transition: .2s ease-out;
    z-index: 10;
}
#image-js{background-image: linear-gradient(to bottom right, #f1d771,#b535b3);}
#image-java{background-image: linear-gradient(to bottom right, #f1717c,#b535b3);}
#image-py{background-image: linear-gradient(to bottom right, #f1c471,#b535b3);}
#image-kt{background-image: linear-gradient(to bottom right, #718ff1,#b535b3);}
#image-html{background-image: linear-gradient(to bottom right, #71f18b,#b535b3);}
#image-cs{background-image: linear-gradient(to bottom right, #b771f1,#b535b3);}

.profile-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-card-arrow {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}